body {
  font-family: 'Josefin Sans', sans-serif;
 /* background-image: linear-gradient(red, yellow, violet);
  background-size: 100px; */
  background-image: url("https://res.cloudinary.com/jkarlin929/image/upload/v1547004100/nyc-background_pmt58z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

a {
  color: #13334b;
  text-shadow: 1px 0.5px black;
  padding: 6px;
  font-size: 16px;
}

a:hover {
  color: #b8170f;  /* change hover color to match */
  text-decoration: none;
}

p {
  font-size: 18px;
  padding: 16px;
}

h2 {
  font-size: 40px;
  padding: 7px;
}

#about {
  /* background-color: #f6f6f6; */
  border-style: solid;
  border-width: 3px;
  padding: 25px;
  margin: 8px 308px 550px 308px;
  color: #0a002b;
}

#projects-title {
  font-family: 'Paytone One', sans-serif;
  background: #f6f6f6;
  font-size: 80px;
  border-style: solid;
  border-width: 2px;
  text-shadow: 2px 2px 2px #232736;
  color: #0a002b;
  margin: 0px 260px 100px 250px;
  padding-left: 40px;
  padding-right: 40px;
}

#footer-contact {
  color: #faf2dc;
}

#footer-contact:hover {
  color: #b8170f;
}

.about {
  /*background-color: #72808e;*/
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.grid > div {
  background: #062336;
  padding: 2em;
  border-style: solid;
  border-width: 3px;
}

.projects {
  margin: 10px 0px 10px 0px;
  text-align: center;
  padding: 10px;
}

.citibike {
  box-shadow: 20px;
}

.container {
  display: flex;
}

.row {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.well {
  background-color: #f6f6f6;
}

.navLinks {
  color: #4e8064;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0d2234;
  color: #faf2dc;
  text-shadow: 1px 1px black;
  font-size: 16px;
  margin-top: 400px;
  padding: 15px;
}

.navbar {
  background-color: #062336;
  border: 1px solid #262d2f;
}

ul {
  text-align: center;
}

.span-item {
  padding: 0.5px;
  margin-top: 13px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, span[role=button] {
  color: #faf2dc;
}

.navbar-default:hover .navbar-brand:hover, .navbar-default:hover .navbar-nav>li>a:hover, span[role=button] {
  color: #b8170f;
}

.well {
  background-color: #f6f6f6;
  border: 1px solid black;
}

.nav-item {
  color: #faf2dc;
}

@media only screen and (max-width: 768px) {
    body {
      background-size: cover;
      background-attachment: fixed;
    }

    .grid>div {
      margin-top: 388%;
    }

    .topnav {
      width: 238%;
    }

    #about {
      width: 100%;
    }

    #projects-title {
      width: 60%;
      margin: 0 auto 10%;
    }

    .projects {
      width: 238%;
    }

    .footer {
      width: 238%;
    }

    h2{
      margin: -15px;
      padding: 10px;
    }
}
