body{
  font-family: 'Josefin Sans', sans-serif;
  background: #696969; /*grey*/
}

a{
  color: #faf2dc;
  text-shadow: 1px 0.5px black;
}

a:hover{
  color: #820707;  /* change hover color to match */
  text-decoration: none;
}

p{
  font-size: 16px;
}

#photo{
  width: 30%;
  height: 30%;
}

#projectsTitle{
  font-family: 'Archivo Black', sans-serif;
  background: #672D64; /*reddish color*/
  font-size: 65px;
  border-style: solid;
  border-width: 3px;
  text-shadow: 2px 2px 2px #D49A00;
  color: #222222;
}

#about{
  background: #D49A00; /*yellow-ish color*/
  border-style: solid;
  border-width: 3px;
  padding: 15px;
}

.about{
  width: 100%;
  margin: 0px;
  background: white;
  text-align: center;
}

.grid > div {
  background: #D49A00;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 1em;
  border-style: solid;
  border-width: 3px;
}

/*.row{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
*/
/*.codepen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200%;
}*/

/*.background-image{
  : 100%;
}

.images{
  margin: 20px;
  padding: 10px;
}

.navLinks{
  color: #4e8064;
}*/

/*.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #262d2e;
  color: #4e8064;
  text-shadow: 1px 1px black;
  font-size: 16px;
  margin-top: 15px;
  padding: 15px;
}

.citibikeProject, .thankHeavenProject, .moonProject, .wordGame{
  text-align: center;
}

.navbar-inverse{
  background-color: #262d2e;
  border-color: #413f74;
}*/

@media only screen and (max-width: 500px) {
    body, .grid {
        display: flex;
        flex-direction: column;
    }

    .codepen{
      width: 100%;
    }

    img{
      width: 100%;
    }
}