body{
  font-family: 'Josefin Sans', sans-serif;
/*  background-image: linear-gradient(red, yellow, violet);
  background-size: 100px;*/
  background-image: url("http://res.cloudinary.com/jkarlin929/image/upload/v1529523500/forest-landscape-mountain-range-129105_rj6uny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

a{
  color: #faf2dc;
  text-shadow: 1px 0.5px black;
  padding: 6px;
  font-size: 16px;
}

a:hover{
  color: #b8170f;  /* change hover color to match */
  text-decoration: none;
}

p{
  font-size: 18px;
  padding: 16px;
}

h2{
  font-size: 40px;
  padding: 7px;
}

#photo{
  width: 20%;
  height: 20%;
  margin: auto;
  border: 2px solid black;
  opacity: 0.65;
}

#about{
  background-color: #D49A00; /*yellow-ish color*/
  border-style: solid;
  border-width: 3px;
  padding: 25px;
  margin: 100px 0px 200px 0px;
}

#projectsTitle{
  font-family: 'Archivo Black', sans-serif;
  background: #849da8;
  font-size: 80px;
  border-style: solid;
  border-width: 1px;
  text-shadow: 2px 2px 2px #D49A00;
  color: #222222;
  margin-bottom: 100px;
}

.about{
  /*background-color: #72808e;*/
  width: 100%;
  margin: 0px;
  text-align: center;
}

.grid > div {
  background: #D49A00;
  padding: 2em;
  border-style: solid;
  border-width: 3px;
}

.projects {
  margin: 10px 0px 10px 0px;
  text-align: center;
  padding: 10px;
}

.citibike {
  box-shadow: 20px;
}

.container{
  display: flex;
}

.row{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.codepen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.well{
  background-color: #708090;
}

.navLinks{
  color: #4e8064;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #262d2e;
  color: #cd9b34;
  text-shadow: 1px 1px black;
  font-size: 16px;
  margin-top: 200px;
  padding: 15px;
}

.navbar{
  background-color: #262d2e;
  border: 1px solid #262d2f;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color: #faf2dc;
}

.navbar-default:hover .navbar-brand:hover, .navbar-default:hover .navbar-nav>li>a:hover{
  color: #b8170f;
}

.well{
  background-color: #849da8;
  border: 1px solid black;
}

@media only screen and (max-width: 500px) {
    body, .grid {
        display: flex;
        flex-direction: column;
    }

    .codepen{
      width: 100%;
    }

    img{
      width: 100%;
    }
}